{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row ">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100 d-flex justify-content-center">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h3 class="display-4 logo-front text-black">
                    Make a booking
                </h3>
                <div class="container">
                    <div class="row">
                        <form>
                              <div class="form-group">
                                <label for="day">Choose day</label>
                                <select class="form-control" id="day">
                                <option>Monday</option>
                                <option>Tuesday</option>
                                <option>Wednesday</option>
                                <option>Thursday</option>
                                <option>Friday</option>
                                <option>Saturday</option>
                                <option>Sunday</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="time">Choose timeslot</label>
                                <select class="form-control" id="time">
                                <option>5-6</option>
                                <option>6-7</option>
                                <option>7-8</option>
                                <option>8-9</option>
                                <option>9-10</option>
                                <option>10-11</option>
                                <option>11-12</option>
                                </select>
                            </div>
                            <button id="book-button" class="btn btn-primary d-flex justify-content-center">
							    <span class="font-weight-light">Book</span>
						    </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}